fastapi==0.95.2            # The FastAPI framework
uvicorn==0.22.0            # ASGI server for running FastAPI
pydantic==1.10.2           # Data validation and settings management
SQLAlchemy==2.0.18         # ORM for database interactions
alembic==1.11.1            # Database migrations for SQLAlchemy
passlib[bcrypt]==1.7.4     # Password hashing utilities
python-jose==3.3.0         # JWT token generation and verification
requests==2.31.0           # HTTP requests, useful for making API calls during tests
pytest==7.0.0              # Testing framework
pytest-asyncio==0.21.0     # Async support for pytest
httpx==0.24.0              # HTTP client for making API requests (async)cd ..
python-jose==3.3.0         # JWT token 
prometheus_client==0.20.0  # Promethues client